@model List<DACSN10.Models.Course>
@{
    ViewData["Title"] = "Khóa học của tôi";
}
<h2>Khóa học của tôi</h2>
<ul class="list-group">
    @foreach (var c in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            @c.TenKhoaHoc
            <a href="/Course/Details/@c.CourseID" class="btn btn-sm btn-primary">Xem</a>
        </li>
    }
</ul>