
@{
    ViewData["Title"] = "Đăng nhập thất bại";
}
<div class="alert alert-danger mt-4">
    <h4>Đăng nhập thất bại</h4>
    <p>Không thể xác thực với tài khoản mạng xã hội. Vui lòng thử lại hoặc dùng phương thức khác.</p>
    <a href="/Account/Login" class="btn btn-primary mt-3">Quay lại trang đăng nhập</a>
</div>
