@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-5">
    <h2>Lịch sử thanh toán</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Khóa học</th>
                <th>Phương thức</th>
                <th>Ngày thanh toán</th>
                <th>Số tiền</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 1; i <= 3; i++)
            {
                <tr>
                    <td>Khóa học @i</td>
                    <td>VNPAY</td>
                    <td>@DateTime.Now.AddDays(-i).ToShortDateString()</td>
                    <td>500,000 VNĐ</td>
                </tr>
            }
        </tbody>
    </table>
</div>
